@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    ---font-large: 40px;
    --color-accent: #FE6400;
    --color-secondary: black;
    --color-primary: white;
    --color-bg: #f2f2f2;

    font-size: 20px;
    font-family: "Inria Sans", sans-serif;
    background-color: var(--color-bg);
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
section.white {
    background-color: var(--color-primary);
    box-shadow: 2px 5px 3px lightgray;
    padding: 1.25rem;
}

article.train-map-right {
    left: 50%;
    right: 2rem;
    top: 5rem;
    position: absolute;
}