@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    ---font-large: 40px;
    --color-accent: #FE6400;
    --color-secondary: black;
    --color-primary: white;
    --color-outline: #9f9f9f;
    --color-bg: #f2f2f2;

    font-size: 20px;
    font-family: "Inria Sans", sans-serif;
    background-color: var(--color-bg);
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
section.white {
    background-color: var(--color-primary);
    box-shadow: 2px 5px 3px lightgray;
    padding: 1.25rem;
}

article.train-map-right {
    left: 50%;
    right: 2rem;
    top: 5rem;
    position: absolute;
}

/* inputs */
input, select {
    border: var(--color-outline) solid 1px;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
    height: 1.4rem;
    color: var(--color-outline);
    background-color: transparent;
}
input:disabled, select:disabled,
input:disabled:hover, select:disabled:hover {
    border: var(--color-outline) solid 1px;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    padding: 0.25rem;
    height: 1.4rem;
    color: var(--color-outline) !important;
    background-color: #f2f2f2;
    cursor: not-allowed;
}
.label {
    width: 8rem;
}

/* Dropdown button on hover & focus */
input:hover, input:focus ,
select:hover, select:focus {
    color: var(--color-accent) !important;
    border: var(--color-accent) solid 1px;
}
.bi {
    color: var(--color-outline);
}
hr {
    border: var(--color-bg) solid 1px;
}